<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.Name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.Description %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.Director %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= movie.Language %>
  </p>

</div>
